{% extends "base.html" %}

{# Defines what should show up on every page in the points app (header thing, common styling, etc.) #}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}points/styles/base.css" type="text/css">
{% endblock %}

{% block body %}
	{{ block.super }}
	<header id="points_header">
		<h1>PointsBoard</h1>
		<nav>
			<ul>
				<li>Logged in as <strong>{{ user.username }}</strong></li>
				<li><a href="{% url userBoards %}">Your Boards</a></li>
				<li><a href="{% url logout %}">Log Out</a></li>
			</ul>
		</nav>
		<div class="clear"></div>
	</header>
	<section id="points_main">
		{% block content %}{% endblock %}
	</section>
{% endblock %}
