<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Points Board</title>
		<meta name="description" content="" />
		<meta name="author" content="Hillary Fotino" />
	</head>
	<body>
		<div>
			<h1>Your Boards</h1>
			<section>
					<h2>Boards You're Part Of:</h2>
				<ul>
					<li>
						<a href="/">Board 1</a> Owned by: Owner
					</li>
				</ul>
			</section>
			<section>
					<h2>Boards You Own:</h2>
					<ul>
					<li>
						<a href="/">Board 1</a>
					</li>
				</ul>
			</section>
			<form id="new_board">
					<fieldset>
						<legend>
							Create a new board
						</legend>
						<label for="board_title">Board Name:</label>
						<input type="text" name="board_title" />
						<br/>
						<label for="column_num">Number of categories:</label>
						<input type="number" name="column_num"/>
						<br/>
						<!-- Needs to be multiplied based on number of categories input -->
						<label for="column_name">Category 1:</label>
						<input type="text" name="column_name" />
					</fieldset>
				</form>
		</div>
	</body>
</html>
