<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Points Board</title>
		<meta name="description" content="" />
		<meta name="author" content="Hillary Fotino" />
	</head>
	<body>
		<div>
				<h1>Points Board</h1>
			<h2 id="subtitle">A place to give people points!</h2>
			<p>Create and join boards where people can award other people points for anything that you want.</p>
			<div>
				<form id="login">
					<fieldset>
						<legend>
							Already a member? Login:
						</legend>
						<p>
							<label for="username_input">Username:</label>
							<input name="username_input" type="text" />
						</p>
						<p>
							<label for="password_input">Password:</label>
							<input name="password_input" type="text" />
						</p>
						<button type="submit">
							Login
						</button>
					</fieldset>
				</form>
				<form id="register">
					<fieldset>
						<legend>
							New User? Register:
						</legend>
						<p>
							<label for="username_register">Username:</label>
							<input name="username_register" type="text" />
						</p>
						<p>
							<label for="password_register">Password:</label>
							<input name="password_register" type="text" />
						</p>
						<p>
							<label for="password_confirm">Confirm Password:</label>
							<input name="password_confirm" type="text" />
						</p>
						<button type="submit">
							Register
						</button>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>
