{% extends "points/base.html" %}
{# This is a full page for a single transaction #}

{% block title %}
Transaction
{% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}points/styles/transaction_page.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}points/styles/transaction.css" type="text/css">
{% endblock %}

{% block content %}
	<h1>Transaction on <a href="{% url board transaction.board.id %}">{{ transaction.board }}</a></h1>
	
	{% include "points/transaction.html" %}
{% endblock %}
