{% extends "points/base.html" %}

{# Shows the boards for a user after they log in #}

{% block title %}
	Your Boards
{% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}points/styles/user_boards.css" type="text/css">
{% endblock %}

{% block content %}
	<h1>Your Boards</h1>
	<section class="owned_boards">
		<header>
			<form id="new_board" method="post" action="{% url userBoards %}">
				<fieldset>
					<legend>Create a new board</legend>
					<label for="board_title">Board Name:</label>
					<input type="text" name="board_title" id="board_title">
					<input type="submit" value="Create">
				</fieldset>
			</form>
			<h1>Boards You Own</h1>
			<div class="clear"></div>
		</header>
		<ul>
		{% for board in ownedBoards %}
			<li>
				<a href="{% url board board.id %}">{{ board.name }}</a>
				{% if not board.description == "" %}
					<p>{{ board.description }}</p>
				{% endif %}
			</li>
		{% empty %}
			<li>
				You do not own any boards.
			</li>
		{% endfor %}
		</ul>
	</section>
	<section class="participating_boards">
		<header>
			<h1>Boards You Participate In</h1>
		</header>
		<ul>
		{% for board in boards %}
			<li>
				<a href="{% url board board.id %}">{{ board.name }}</a> Owned by <span class="ownername">{{ board.owner.username }}</span>
				{% if not board.description == "" %}
					<p>{{ board.description }}</p>
				{% endif %}
			</li>
		{% empty %}
			<li>
				You are not participating in any boards.
			</li>
		{% endfor %}
		</ul>
	</section>
{% endblock %}
