/* Rules specific to home.html */

body{
	background: #CCC
}

#home {
	width: 960px;
	margin: 0 auto;
	border: 1px solid #333;
	background: #008257;
}

.clear {
	clear: both;
}

form {
	width: 40%;
	margin: 3em;
}

.center{
	text-align: center;
}

#home > p {
	margin: auto;
}

#login {
	float: left;
	display: inline-block;
	height: 100%;
}

#register {
	float: right;
	display: inline-block;
	height: 100%;
}

#reg_field, #log_field{
	background:#CCC;
}

#reg_leg, #log_leg{
	border: 1px solid;
	background:#CCC;
}

label.username{
	padding-right: 15%;
}

label.password{
	padding-right: 16%;
}
