/* Rules specific to board.html */

#points_main section > h1 {
	background-color: #e3eaef;
	border: 1px solid #333;
	border-width: 0 1px 1px;
	padding: 3px 1em;
	position: relative; /* So shadow from main goes under */
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	min-width: 932px;
}

#owner_controls {
	float: right;
	margin: 0 0 2em 2em;
}

#board,
#board td,
#board th,
#board caption {
	border-collapse: collapse;
	border: 1px solid #333;
}

#board > tbody > tr:nth-child(2n) {
	background-color: #eee;
}

#board td {
	text-align: center;
	cursor: pointer;
}

#board td:hover {
	background-color: #d3daff;
}

#board td:nth-child(2n) {
	color: #555;
}

#board .username {
	min-width: 7em;
}

#board .points {
	min-width: 3em;
}

#transactioncontainer {
	margin-top: 2em;
	border: 1px solid #333;
	border-width: 0 1px;
}

#newtransaction {
	background-color: #d3dadf;
	padding: 1em;
	margin: 1em 2em;
	border: 1px solid #333;
	text-align: center;
}

#newtransaction input[name="reason"] {
	width: 20em;
}

#board{
	float:left;
}

body {
	margin-top: 0;
}

